.home-div {
    background-color: rgb(221, 221, 221);
    border-radius: 15px;
}

.home-title {
    padding-left: 20px;
    padding-top: 20px;
}

.all-scores {
    padding: 10px;
}

.scores {
    background: black;
    color: white;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
}

.home-btn {
    padding: 15px;
    margin: 15px;
}