h1 {
    font-weight: bold; 
}

svg {
    color: white;
}

.btn:hover, .btn:focus, .btn:active:focus, .btn.active:focus{
    box-shadow:none;
    color: white;
}

.btn {
    font-weight: bold; 
}

.btn-danger,
.btn-success,
.btn-warning,
.btn-secondary,
.btn-primary {
    color: white;
}

.shadow-1 {
    box-shadow: 6px 6px;
}

.shadow-2 {
    box-shadow: 6px 6px #6e757c;
}

.white {
    background-color: white;
    z-index: 10000;
    height: 610px;
}

#slide {
    animation: slide ease 0.2s forwards;
    animation-delay: 0.5;
}

@keyframes slide {
    0% {transform: translate(150px, 0px);}
    50% {transform: translate(-150px, 0px);}
    100% {transform: translate(0px, 0px);}
}
